* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --color-white: #ffffff;
  --color-black: black;

  --color-gray-light: #f9f8f8;
  --color-gray-dark: #525c60;

  --color-green-dark: #274c5b;
  --color-green-light: #7eb693;

  --color-yellow-light: #efd372;

  --animation-speed: 0.5s;
  --animation-function: ease;
  --animation: var(--animation-speed) var(--animation-function); /*Запихнули две переменные в одну переменную для уменьшения кода*/
}

.btn-primary {
  position: relative;
  height: 82px;
  border: none;
  cursor: pointer;
  border-radius: 16px;
  padding: 25px 71px 25px 31px;
}

.btn-primary:hover {
  transform: scale(1.05);
  transition: var(--animation);
  box-shadow: 4px 10px 23px 4px rgba(23, 4, 4, 0.68);
  -webkit-box-shadow: 4px 10px 23px 4px rgba(23, 4, 4, 0.68);
  -moz-box-shadow: 4px 10px 23px 4px rgba(23, 4, 4, 0.68);
}

.btn-primary::after {
  content: '';
  background-image: url('/assets/main/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  height: 34px;
  width: 38px;
  border-radius: 50%;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

@media (max-width: 768px) {
  .btn-primary {
    height: 54px;
    padding: 20px 60px 20px 25px;
  }
}
